@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #1e1e1e;
  color: #dedede;
}

@font-face {
  font-family: sf;
  src: url(font/HelveticaNowDisplay-Regular.ttf);
}

canvas {
  width: 100%;
  height: 100%;
}

body {
  background-color: #dedede;
  cursor: none;
}
